# Datasets
CLAC-Dataset/
parkinsons/
parkinsons+telemonitoring/
26_29_09_2017_KCL/


# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/
